*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-hold{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    gap: 100px;
}

.left {
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: blue;
    }
    
    img{
        width: 60%;
        height: 500px;
        margin-bottom: 60%;
        margin-left: 10px;
    }

.form-right{
    height:350px;
    width: 37%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: -148px;
    margin-left: -70px;
     
}
.form-right-inner{
    width: 92%;

}   

.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.form-input input{
    height: 50px;
    outline: none;
    border: 1px solid #ededed;
    border-radius: 7px;
    background-color:transparent;
    /* opacity: 0.2; */
    color: black;
    font-weight: 600;
    padding: 0px 10px;
    margin-top: -17px;
}

.btn button{
  padding: 14px 10px;
  border: none;
  font-size: 18px;
  color: white;
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: #42b72a;
  font-weight: bold;
  
}
.btnn button{
    padding: 14px 50px;
    border: none;
    font-size: 18px;
    color: white;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #0866ff;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
  }
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btnn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.reset a{
color: blue;
}

.Line{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.reset {
   width: 100%;
   display: flex;
   justify-content: center ;
   align-items: center;    
   margin-top: 20px;
}